{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Create you Account</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" />
    <link href="{% static 'images/favicon.png' %}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/quill/quill.snow.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/quill/quill.bubble.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/remixicon/remixicon.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/simple-datatables/style.css' %}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <!-- Extra css -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
</head>

<body style="background-color: #fff;">

    <main>
        <div class="container">

            <section
                class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-7 col-md-7">
                            <img style="max-width: 100%;" src="{% static 'images/login-logo.png' %}" alt="" />
                        </div>
                        <div class="col-lg-5 col-md-5 d-flex flex-column align-items-center justify-content-center">
                            <div class="card mb-3" style="background-color: #d9d9d9;">

                                <div class="card-body">
                                    {% if messages %}
                                    {% for message in messages %}
                                    {% if forloop.counter == 1 %}
                                    <div class="{{ message.tags }}-message" style="height: 30px; text-align: center;">{{ message }}</div>
                                    {% endif %}
                                    {% endfor %}
                                    {% endif %}
                                    <span class="text-center text-danger" id="error_msg"></span>
                                    <div class="pt-4 pb-2">
                                        <h5 class="card-title text-center pb-0 fs-4">Create your Account</h5>
                                        <p class="text-center small">Enter All The Details</p>
                                    </div>
                                    <form class="row g-3 needs-validation" id="register_form" method="POST"
                                        action="{% url 'signup' %}">
                                        {% csrf_token %}
                                        <div class="col-12">
                                            <label for="first_name" class="form-label">First Name</label>
                                            <div class="input-group has-validation">
                                                <input type="text" class="form-control" id="first_name"
                                                    name="first_name" required placeholder="John">
                                                <div class="invalid-feedback">Please enter your First Name.</div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <label for="last_name" class="form-label">Last Name</label>
                                            <div class="input-group has-validation">
                                                <input type="text" class="form-control" id="last_name" name="last_name"
                                                    required placeholder="Doe">
                                                <div class="invalid-feedback">Please enter your Last Name.</div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <label for="phone" class="form-label">Phone</label>
                                            <div class="input-group has-validation">
                                                <input type="text" class="form-control" id="phone" name="phone" required
                                                    placeholder="99******49"
                                                    onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                                                    maxlength="10">
                                                <div class="invalid-feedback">Please enter your Phone Number.</div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <label for="email" class="form-label">Email</label>
                                            <div class="input-group has-validation">
                                                <input type="email" class="form-control" id="email" name="email"
                                                    required placeholder="name@example.com">
                                                <div class="invalid-feedback">Please enter your Email Address.</div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <label for="password" class="form-label">Password</label>
                                            <input type="password" name="password" class="form-control" id="password"
                                                required>
                                            <div class="invalid-feedback">Please enter your password!</div>
                                        </div>
                                        <div class="col-12">
                                            <label for="conf_password" class="form-label">Confirm Password</label>
                                            <input type="password" name="conf_password" class="form-control"
                                                id="conf_password" required>
                                            <div class="invalid-feedback">Please enter your password again!</div>
                                        </div>

                                        <div class="col-12">
                                            <button class="btn btn-primary w-100" type="submit">Sign Up</button>
                                        </div>
                                        <div class="col-12">
                                            <p class="small mb-0">Already Registered? <a href="{% url 'signin' %}">Click
                                                    here to sign in</a></p>
                                        </div>
                                    </form>

                                </div>
                            </div>

                            <div class="credits text-black">
                                Developed by <a style="color: #5F861F;" href="https://spaatech.net/"><strong>SPAATech Solutions
                                    India Pvt. Ltd.</strong></a>
                            </div>

                        </div>
                    </div>
                </div>

            </section>

        </div>
    </main>
    <!-- End #main -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="{% static 'vendor/apexcharts/apexcharts.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'vendor/chart.js/chart.umd.js' %}"></script>
    <script src="{% static 'vendor/echarts/echarts.min.js' %}"></script>
    <script src="{% static 'vendor/quill/quill.min.js' %}"></script>
    <script src="{% static 'vendor/simple-datatables/simple-datatables.js' %}"></script>
    <script src="{% static 'vendor/tinymce/tinymce.min.js' %}"></script>
    <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>

    <!-- Template Main JS File -->
    <script src="{% static 'js/main.js' %}"></script>
    <!-- Custom JS -->
    <script src="{% static 'js/custom.js' %}"></script>
    {% block js %}
    <script>
        $('#register_form').on('submit', function (e) {
            e.preventDefault();
            password = $("#password").val();
            conf_password = $("#conf_password").val();
            if (password == conf_password) {
                $('#register_form').unbind('submit').submit();
                $('#register_form').submit();
            } else {
                $("#error_msg").text("Passwords do not match");
            }
        });
    </script>
    {% endblock %}
</body>

</html>